@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply font-medium overflow-hidden;
  }

  h1 {
    @apply text-[3.4rem] leading-[70px];
  }

  h2 {
    @apply text-[2.40rem] leading-[55px] font-semibold;
  }

  h3 {
    @apply text-[1.65rem] leading-[35px] font-semibold;
  }

  h4 {
    @apply text-[1.35rem] leading-[30px] font-semibold;
  }

  h5 {
    @apply text-2xl leading-[70px];
  }

  p {
    @apply text-base;
  }
}

.cus-container {
  @apply container mx-auto px-10
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: #ffff
}