@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply font-medium overflow-hidden text-slate-200;
  }

  h1 {
    @apply text-[3.4rem] leading-[70px];
  }

  h2 {
    @apply text-[2.40rem] leading-[55px] font-semibold;
  }

  h3 {
    @apply text-[1.65rem] leading-[35px] font-semibold;
  }

  h4 {
    @apply text-[1.10rem] leading-[15px] font-semibold;
  }

  h5 {
    @apply text-[0.95rem] leading-[15px];
  }

  p {
    @apply text-base leading-[10px];
  }
  span {
    @apply text-[0.80rem] font-thin
  }
}

.cus-container {
  @apply container mx-auto px-10
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-color: #17152c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  background: var(--bg-color);
}


.EmojiPickerReact li.epr-emoji-category>.epr-emoji-category-label {
  font-size: 12px !important;
}

::-webkit-scrollbar{
  width: 14px;
}
::-webkit-scrollbar-track{
  background-color: #545353;
}
::-webkit-scrollbar-thumb{
  background-color: gray;
}