@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply font-medium overflow-hidden;
  }

  h1 {
    @apply text-[3.4rem] leading-[70px];
  }

  h2 {
    @apply text-[2.40rem] leading-[55px] font-semibold;
  }

  h3 {
    @apply text-[1.65rem] leading-[35px] font-semibold;
  }

  h4 {
    @apply text-[1.25rem] leading-[25px] font-semibold;
  }

  h5 {
    @apply text-[1rem] leading-[20px];
  }

  p {
    @apply text-base leading-[10px];
  }
}

.cus-container {
  @apply container mx-auto px-10
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-color: #343434;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #ffff;
  background: var(--bg-color);
}

::-webkit-scrollbar{
  width: 14px;
}
::-webkit-scrollbar-track{
  background-color: #545353;
}
::-webkit-scrollbar-thumb{
  background-color: gray;
}